@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Contato</title>
</head>
<body>
    <h1>Contato</h1>
    <h2>Sua página de contato</h2>
    <p></p>
    <h5>Avenida Dauro Aragão, 1325.</h5>
    <h5>Volta Redonda, Rj, 27254-260.</h5>
    <h5>Telefone (24) 3340-8400.</h5>
        <p></p>
    <h4><strong>Suporte:</strong><a href="pagina-b.html">suporte@foa.org.br</a></h4>
    <h4><strong>Marketing:</strong><a href="pagina-b.html">marketing@foa.org.br</a></h4>
    <p></p>
    <img src="https://scontent.fsdu12-2.fna.fbcdn.net/v/t39.30808-6/306783095_5521571684556080_7079626286797733805_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=2be8e3&_nc_eui2=AeHdLuXP8Gksa_QxlCToE-897vj3VYu4Orfu-PdVi7g6t0OVrDDP1Y3yaTdLiLzEsnPita187oWsOmUIsDz-1mI5&_nc_ohc=-pcvn5NmsR8AX8q2P-a&_nc_ht=scontent.fsdu12-2.fna&oh=00_AfCcM5VGberJ1EusbyONBfLPsi3o7QYIxw7lsxTutV2GtQ&oe=64DEF308" width="500" height="250" alt="UNIFOA">
    
</body>
</html>